@model IEnumerable<BEC.Domain.Admin.Page>

@{
    ViewData["Title"] = "Pages";
}

<h1>Pages</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table sorting" id="pages">
    <thead>
        <tr class="home">
            <th>
                Title
            </th>
            <th>
                Slug
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr id="id_@item.Id" class="@item.Slug">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                @if(item.Id != 1){
                    <a class="confirm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>


@section Scripts{
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>

    <script>
        $(function(){
            $("table#pages tbody").sortable({
                items: "tr:not(.home)",
                placeholder: "ui-state-highlight",
                update: function(){
                    const ids = $("table#pages tbody").sortable("serialize");
                    const url = "/admin/pages/RecorderPages";

                    $.post(url, ids, function (data) {});
                }
            });
        });

    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.body.addEventListener("click", function (event) {
                if (event.target.classList.contains("confirm")) {
                    event.preventDefault(); // جلوگیری از اجرای لینک حذف

                    const deleteUrl = event.target.getAttribute("href"); // گرفتن لینک حذف

                    const swalWithBootstrapButtons = Swal.mixin({
                        customClass: {
                            confirmButton: "btn btn-success",
                            cancelButton: "btn btn-danger"
                        },
                        buttonsStyling: false
                    });

                    swalWithBootstrapButtons.fire({
                        title: "آیا مطمئن هستید؟",
                        text: "این عملیات قابل بازگشت نیست!",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonText: "بله، حذف شود!",
                        cancelButtonText: "خیر، لغو کن!",
                        reverseButtons: true
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = deleteUrl; // هدایت به حذف
                        }
                    });
                }
            });
        });
    </script>
}
